.content{
    margin-top: 1rem;
}

.crazy-image-explanation-container{
    float:left;
    width: 100%;

}
.crazy-image-explanation-container .crazy-image-title{
    font-size: 10px;
    float: right;
}

.crazy-image-explanation-container .text-explanation-container{
    float:left;
    padding-left: 5%;
}

.crazy-image-explanation-container .text-explanation-container .text-explanation{
    font-size: 12px;
    font-weight: bold;
}

.crazy-image-explanation-container .text-explanation-container .text-explanation a{
    font-style: italic;
}
blockquote.with-author{
    margin-bottom: 0px;
}
.quote-author-name{
    text-align: right;  font-style: italic;font-size: 16px;
}
.quote-author-picture{
    width: 50px;
    float: right;
}
